
/* 
    You can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';
*/
body {
    padding: 5px;
}
.counter-container {
    display: flex;
    align-items: center;

    width: fit-content;

    background-color: black;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.digit {
    padding: 0px 5px;
}

.digit-box {
    font-family: 'IBM Plex Serif', serif;
    font-size: 2.80em;
    
    padding: 5px 8px;
    border: 1px solid #2c2c2c;
    border-radius: 6px;
    color: white;
}
